<form (submit)="onSubmit()" #form="ngForm" class="form-reactive">
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input [(ngModel)]="model.firstName"
           required
           pattern="^[0-9a-zA-Z]+"
           #name="ngModel"
           name="firstName" matInput>
    <mat-error *ngIf="name.errors?.required">
      This field is required
    </mat-error>
    <mat-error *ngIf="name.errors?.pattern">
      Some symbols aren`t allowed
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input [(ngModel)]="model.lastName"
           required
           #lastName="ngModel"
           pattern="^[0-9a-zA-Z]+"
           name="lastName" matInput>
    <mat-error *ngIf="lastName.errors?.required">
      This field is required
    </mat-error>
    <mat-error *ngIf="lastName.errors?.pattern">
      Some symbols aren`t allowed
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>User name</mat-label>
    <input [(ngModel)]="model.userName"
           required
           #username='ngModel'
           pattern="^[0-9a-zA-Z]+"
           name="userName" matInput>
    <mat-error *ngIf="username.errors?.required">
      This field is required
    </mat-error>
    <mat-error *ngIf="username.errors?.pattern">
      Some symbols aren`t allowed
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input [(ngModel)]="model.email"
           required
           email
           #email='ngModel'
           name="email" matInput>
    <mat-error *ngIf="email.errors?.required">
      This field is required
    </mat-error>
    <mat-error *ngIf="email.errors?.email">
      You need to enter email
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input [(ngModel)]="model.password"
           required
           minlength="10"
           #password='ngModel'
           name="password" matInput>
    <mat-error *ngIf="password.errors?.required">
      This field is required
    </mat-error>
    <mat-error *ngIf="password.errors?.minlength">
      Password must be longer than 10 symbols
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Repeat Password</mat-label>
    <input [(ngModel)]="model.repeatedPassword"
           required
           pattern="{{password.value}}"
           #repeatedPassword='ngModel'
           name="repeatedPassword" matInput>
    <mat-error *ngIf="repeatedPassword.errors?.required">
      This field is required
    </mat-error>
    <mat-error *ngIf="repeatedPassword.errors?.pattern">
      Passwords aren`t same
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Region</mat-label>
    <mat-select [(ngModel)]="model.region"
                required
                #region='ngModel'
                name="region">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
    </mat-select>
    <mat-error *ngIf="region.errors?.required">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-radio-group aria-label="Select an option"
                   [(ngModel)]="model.gender"
                   name="gender"
  >
    <mat-radio-button value="Male">Male</mat-radio-button>
    <mat-radio-button value="Female">Female</mat-radio-button>
    <mat-radio-button value="Don`t sure">¯\_(ツ)_/¯</mat-radio-button>
  </mat-radio-group>

  <mat-checkbox [(ngModel)]="model.promo"
                name="promo">Send me promotional!
  </mat-checkbox>

  <mat-form-field>
    <mat-label>Additional</mat-label>
    <textarea [(ngModel)]="model.additional"
              name="additional" matInput>
    </textarea>
  </mat-form-field>

  <button type="submit" [disabled]='form.invalid' mat-button>SUBMIT</button>
</form>
